.chela-one-regular {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.chela-one-bold {
  font-family: "Chela One", system-ui;
  font-weight: 700;
  font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.main-container {
    display: flex;
    background: url('/frontend/src/assets/lasvegas.jpg');
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}