.chela-one-regular {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.chela-one-bold {
  font-family: "Chela One", system-ui;
  font-weight: 700;
  font-style: normal;
}

